hr {
	width: 100%;
	border-color: rgba(173, 172, 172, 0.3);
}
h2 {
	margin-top: 0
}
.span-class {
	margin-top: 10px;
}
.message-class {
	margin-right: 20px;
    margin-left: 10px;
    margin-top: 15px;
}