<div class="container text-center theme-orange">
	<h1><b> Welcome to Byrd! </b></h1>
	<h3> Please login to view the submitted tickets.</h3>
</div>

<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<form #loginForm='ngForm' (ngSubmit)='login()'>
				
				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
							<input #emailValid="ngModel" required [(ngModel)]='user.email' type="text" class="form-control" name="email" id="email"/>
						</div>
						<div *ngIf="emailValid.errors && (emailValid.dirty || emailValid.touched)" class="text-center">
							<p class="field-error" [hidden]="!emailValid.errors.required">
							  Email is required!
							</p>	
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input #passwordValid="ngModel" required [(ngModel)]='user.password' type="password" class="form-control" name="password" id="password" />
						</div>
						<div *ngIf="passwordValid.errors && (passwordValid.dirty || passwordValid.touched)" class="text-center">
							<p class="field-error" [hidden]="!passwordValid.errors.required">
							  Password is required!
							</p>	
						</div>
					</div>
				</div>


				

				<div class="form-group ">
					<button [disabled]="!loginForm.valid" type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
				</div>
				
			</form>
		</div>
	</div>
</div>

